.Post {
    margin: auto;
    background-color: bisque;
    width: 750px;
    height: 800px;
    border: solid black;
    
}


.logoNombreLugar {
    display: flex;
    padding: 20px 0px 10px 10px;
}

h2 {
    margin-left: 5px;
}

h3 {
    margin-left: 5px;
    margin-bottom: 5px;
}

.imglogo {
    width: 70px;
    height: 70px;
}

.foto {
    width: 750px;
    height: 500px;
}

.iconos {
    display: flex;
}

.icon {
    width: 30px;
    height: 30px;
    margin:  10px 0px 10px 10px;
}

#iconDerecha {
    margin-left: 590px;
}

.texto {
    margin-left: 10px;
}